.pea_admin_wrap {}
.pea_admin_top {
}

.pea_admin_box h3 {margin:0px 0px -10px 0px;}

.pea_admin_top h1 {
    padding: 0 10px 0 6px;
}

.pea_admin_top small {
    font-size:65%;
    color:#ccc;
}

.pea_admin_signup {
    line-height: 19px;
    padding: 5px;
    font-size: 12px;
    margin: -1px 15px 0 5px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    border-right-radius: 3px;
    background-color: #FFFBCC;
    border-color: #E6DB55;
    color: #555;
}

.pea_admin_signup input[type="email"] {
    width: 250px;
    padding: 5px;
    margin: 0 10px;
}

.pea_admin_main_wrap {}
.pea_admin_main_left {
    float: left;
    width: 700px;
    padding: 0 10px 0 6px;
}
.pea_admin_main_right {
    padding:0 20px 0 10px;
    float: left;
    width: 250px;
}
.pea_admin_clear {clear:both;}
.pea_admin_fl {float:left}

img.pea_admin_fl {vertical-align: top;padding-right: 5px;margin-bottom: 10px;}
img.paypal {margin-bottom: 10px;}

.pea_admin_box {
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    background: #eee;
    border: solid 1px #ccc;
    padding:10px;
    margin-bottom: 20px;
}


button.pea_admin_green {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    padding: 6px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    min-width: 70px;
}

button.pea_admin_green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}

button.pea_admin_green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}